{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <form action="{% url 'displayCategory' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <br>
            <label for="category">Choose a category:</label>
            <select name="category" id="category" class="form-select bg-light" aria-label="Default select example">
                <option value="select" selected>all</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-light" type="submit">Search</button>
        </div>
    </form>
    <div class="row m-5 ">
        {% for listing in listings %}
        <div class="card card-header text-center  m-3 p-2" style="width: 18rem;">
            <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{ listing.title }}" height="240">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">${{ listing.price.bid }}</p>
              <p class="card-text">{{ listing.description|truncatechars:50 }}</p>
              <a href="{% url 'listing' id=listing.id %}" class="btn btn-info">Select</a>
            </div>
          </div>
     {% endfor %}
    </div>
{% endblock %}